*{
    margin: 0;
    padding: 0;
}

body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 9, 69);
}

body header img{
    width: 100px;
}

header div{
    display: flex;
    flex-direction: row;
    padding-right: 2%;
}

header div ul {
    display: flex;
    flex-direction: row;
}

.secciones li{
    list-style: none;
    margin-right: 20px;

}

header div ul li a{
    color: white;
    text-decoration: none;   
}

.container_dashboard{
    color: white;
    background-image: url(../images/logo_moviliza1.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.body_dashboard_trabajador{
    background-color: rgb(0, 0, 0,0.8);
}