*{
    margin: 0;
    padding: 0;
}

body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 9, 69);
}

body header img{
    width: 100px;
    }

header div{
    display: flex;
    flex-direction: row;
    padding-right: 2%;
}

header div ul {
    display: flex;
    flex-direction: row;
}

.secciones li{
    color: white;
    list-style: none;
    margin-right: 20px;

}

header div ul li a{
    color: white;
    text-decoration: none;   
}

.seccion_1{
    padding: 15%;
    background-image: url(../images/img_viajeros2.png);
    background-position: center;
    height: 90vh;
}

.menu_reserva{
    display: flex;
    justify-content: space-around;
    padding: 3%;
    flex-direction: row;
    color: white;
    background-color: rgb(0, 9, 69, 0.8);
}

.boton_reserva{
    display: flex;
    padding: 2%;
}
.menu_reserva div{
    margin-left: 20px;
}

.seccion_promociones{
    align-items: center;
    padding: 3%;
}

.titulo_promociones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.marcas{
    padding: 2%;
    background-color: rgb(0, 9, 69);
    color: white;
}

.marcas_logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(0, 9, 69);
    color: white;
}
.logos{
    transform: scale(1);
    transition: all 1s;
}

.logos:hover{
    transform: scale(1.2);
}

.seccion_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(218, 66, 11);
    color: white;
}

.pasos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: rgb(0, 9, 69);
    color: white;
    transform: scaleX(1);
    transition: all 0.5s;
}

.pasos:hover{
    transform: scaleX(1.15);
}

.pasos div{
    width: 30%;
}

.seccion_3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(0, 9, 69);
    color: white;
}

.accordion .custom-button {
    background-color: rgb(218, 66, 11,0.75);
    color: white;
    border: 1px solid rgb(218, 66, 11);
  }
  
.accordion .custom-button:not(.collapsed) {
    background-color: rgb(218, 66, 11);
    color: white;
  }
  
.accordion-button:focus {
    box-shadow: none;
  }
  

.accordion-item{
    width: 90vw
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: rgb(218, 66, 11);
    color: white;
}

.nosotros{
    width: 100%;
}

.contacto{
    padding: 5%;
    margin-top: -3%;
    width: 100%;
}

.redes{
    margin-top: -4.5%;

    width: 100%;
}

.contacto_info{
    display: flex;
}

.redes_info{
    display: flex;
}
.login{
    background-image: url(../images/img_viajeros3.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    color: white;
}

.login-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    height:65vh;
    margin: auto;
    margin-top:7% ;
    padding: 3%;
}

.login-title{
    background-color: rgb(0, 9, 69);
    background-image: url(../images/logo_moviliza1.png);
    background-size: cover;
    width: 100%;
}

.login-form{
    padding: 4% 4% 0 4%;
    background-color: rgb(0, 0,0,0.8);
    width: 100%;
}

.login-form>form{
    display: flex;
    flex-direction: column;
}

.form-control-login, .form-select-login{
    margin: 4% 0 3% 0;
}

.btn-login{
    width: 100%;
    margin: auto;
    color: white;
    background-color: rgb(0, 9, 69);
}

.btn-login:hover{
    background-color: rgb(0,9,69,0.8);
}

.registro{
    background-image: url(../images/img_viajeros3.jpg);
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.btn-registro{
    color: white;
    background-color: rgb(0, 9, 69);
}

.container_record{
    margin-top: 3%;
    padding: 2%;
    width: 100%;
    background-color: rgb(0, 0,0,0.8);
    color: white;
}

.seccion_filtrar{
    height: 20%;
    background-color: rgb(0, 0,0,0.75);
    color: white;
    padding: 1% 3% 3% 3%;
}

.seccion_filtrar>form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.btn-filtro{
    color: white;
    background-color: rgb(0, 9, 69);
}

.data_reserva{
    background-image: url(../images/img_viajeros3.jpg);
    background-color: rgba(255, 255, 255, 0.2);
    background-color: rgb(0, 0,0,0.8);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.reserva_vehiculo{
    margin-top: 3%;
    padding: 2%;
    width: 100%;
    color: white;
}

.reserva_cliente{
    margin-top: 3%;
    padding: 2%;
    width: 100%;
    color: white;
}

.btn-more{
    background-color: rgb(0, 9, 69);
    color: white;
}