*{
    margin: 0;
    padding: 0;
}

body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 9, 69);
}

body header img{
    width: 100px;
    }

header div{
    display: flex;
    flex-direction: row;
    padding-right: 2%;
}

header div ul {
    display: flex;
    flex-direction: row;
}

.secciones li{
    list-style: none;
    margin-right: 20px;

}

header div ul li a{
    color: white;
    text-decoration: none;   
}

.seccion_1{
    padding: 15%;
    background-image: url(../images/img_viajeros2.png);
    background-position: center;
    height: 90vh;
}

.menu_reserva{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 9, 69, 0.7);
}

.menu_reserva div{
    margin-left: 20px;
}

.seccion_promociones{
    align-items: center;
    padding: 3%;
}

.titulo_promociones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.marcas{
    padding: 2%;
    background-color: rgb(0, 9, 69);
    color: white;
}

.marcas_logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(0, 9, 69);
    color: white;
}
.logos{
    transform: scale(1);
    transition: all 1s;
}

.logos:hover{
    transform: scale(1.2);
}

.seccion_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(218, 66, 11);
    color: white;
}

.pasos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: rgb(0, 9, 69);
    color: white;
    transform: scaleX(1);
    transition: all 0.5s;
}

.pasos:hover{
    transform: scaleX(1.15);
}

.pasos div{
    width: 30%;
}

.seccion_3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(0, 9, 69);
    color: white;
}

.accordion-item{
    width: 90vw
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: rgb(218, 66, 11);
    color: white;
}

.nosotros{
    width: 100%;
}

.contacto{
    padding: 5%;
    margin-top: -3%;
    width: 100%;
}

.redes{
    margin-top: -4.5%;

    width: 100%;
}

.contacto_info{
    display: flex;
}

.redes_info{
    display: flex;
}